/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
  background: #ff80C6;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main {
  margin: 1%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 22px;
}

/* STYLE TEXT */
.center {
  text-align: center;
  margin-top: .3em;
  word-spacing: 0em;
}

h1 {
  color: #800046;
  font-size: 2.3em;
  margin-bottom: 7px;
}

p {
  color: black;
  font-size: 1.9em;
  text-align: left;
  margin-top: .3em;
}

/* STYLE IMAGES */
.ji {
  width: 31%;
  height: 70%;
  margin-left: .5em;
}

div{
	text-align:center;
  margin-top: 15px;
}

.videos {
  width: 80%;
  height: 300%;
}


/* STYLE NAV BAR */
h2 {
  text-align: center;
  padding: .1em;
  color: white;
  font-size: 3em;
  background: #e2087d;
}

header {
  height: 80%;
}

nav {
  text-align: center;
  background-color: white;
  padding: .5em;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li{
  display: inline;
}

li a {
  margin-top: 3em;
  background-color: white;
  padding: 1%;
  text-decoration: none;
  margin-left: 2em;
  color: black;
  font-size: 1.5em;
}

li a:hover {
  background-color: white;
}

/* STYLE BUTTONS */
.a {
  text-align:center;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3em;
  color: white;
  padding: 5px;
  background: #e2087d;
  margin: 1em;
  
}

/* ADD MORE! */

#q {
  text-align: center;
}
 button a {
   text-decoration: none;
   font-size: 1.7em;
 }
#fact {
  font-weight: 700;
}
